matplotlib==3.7.1
torch==2.0.0+cu118
torchaudio==2.0.1+cu118
torchvision==0.15.1+cu118
torchdata==0.6.0
torchtext==0.15.0
notebook==6.5.4
nltk==3.8.1
gensim==4.3.0
transformers==4.29.2
sentence-transformers==2.2.2
mlflow-skinny==2.4.1
boto3==1.26.158
pytorch-lightning==2.0.2
torchmetrics==0.11.4